
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Error</title>
    <link rel="Favicon" href="static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="static/css/general.css" media="screen" />
  </head>

  <body>
    <div class="slide">
      <h1>The experiment encountered an error!</h1>
      <div class="blue">
        {% if errornum == 1008 %}
        <p>It looks like you tried to complete this experiment already and refreshed the page.</p>
        {% elif errornum == 1010 %}
        <p>It looks like you tried to complete this experiment already and refreshed the page.</p>
        {% elif errornum == 1014 %}
        <h2>Sorry, it looks like you're not using an allowed browser or device</h2>
        <p>You cannot complete this study using a mobile device or Internet Explorer.</p>
        {% else %}
        <p> Sorry, there was an unexpected error in our processing of your hit.</p>
        {% endif %}

        {% if hitId == 'meg1' %}
        <p>Please email the experimenter and we will provide you with a new link.
          If you can remember which section of the experiment you were on before
          getting this error, that would be helpful!
        </p>

        {% else %}
        <p>If you would like to receive partial compensation or feel you
        have reached this page in error, please send us a message on Prolific</p>
        {% endif %}
        <p>
          Our sincere apologies!
        </p>
      </div>
    </div>
  </body>
</html>
